* {
	margin: 0;
}

section {
	height: 20%;
	width: 100%;
	background: pink;
}

.container {
	display: flex;
	flex-direction: row;
	height: 80%;
}

.sidebar {
	width: 20%;
	background: orange;
}

/*SVG FORMATTING*/

svg text {
   fill: black;
   font: 24px sans-serif;
   text-anchor: middle;
}

svg {
	width: 80%;
	margin: 0 auto;
}

svg line {
	stroke: red;
	stroke-width: 2;
}

.mainBranch {
	stroke-width: 10;
}

.charName {
	font: 18px sans-serif;
}